@charset "utf-8";

body {
  background-color: #3d563e;
}

p {
  font-family: "Yu Gothic";
}


/* header */
.nav-ul {
  display: flex;
  margin: 50px auto;
  max-width: 850px;
  padding: 0 5%;
  gap: 6%;
}

.nav-li {
  border: 2px solid #e6dfcb;
  border-radius: 50px;
  width: 20%;
  padding: 10px 17px;
}



/* ホバーで丸拡大 */
.nav-li{
  --button-bg-color: #5c805d;
  --button-text-color: #5c805d;
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: var(--button-text-color);
  border: 1px solid var(--button-bg-color);
  @media (any-hover: hover) {
    transition: color 0.5s var(--ease-out-quart);
    &:hover {
      --button-text-color: #e6dfcb;
      .bg {
        scale: 1;
      }
} 
}
}

.bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 400px; /* ボタンを覆い隠すのに十分な大きさ */
  height: auto;
  aspect-ratio: 1;
  background-color: var(--button-bg-color);
  border-radius: 50%;
  scale: 0;
  transform-origin: center center;
  margin-top: -200px;/* 大きさの半分 */
  margin-left: -200px;/* 大きさの半分 */
  transition: scale 0.5s var(--ease-out-quart); 
  opacity: 0.5;
} 

.nav img ,
.hamburger-nav img{
  width: auto;
  height: 20px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .nav {
  display: none;
  }
}

/* メインビジュアル */
.main-visual-container-all {
  width: 100%;
  height: 467px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main-visual-container-all {
  margin-top: 50px;
  }
}

.main-visual-container-beige {
  background-color: #e6dfcb;
  border-radius: 0 9999px 9999px 0;
  /* padding: 170px 20%; */
  width: 700px;
  height: 470px;/* 背景の影とサイズを合わせるため設定 */
  position: absolute;
  z-index: 1;
  top: 0;
}



@media screen and (max-width: 768px) {
  .main-visual-container-beige {
  width: 600px;
  height: 470px;
  }
}
@media screen and (max-width: 600px) {
  .main-visual-container-beige {
  width: 450px;
  height: 470px;
  }
}
@media screen and (max-width: 460px) {
  .main-visual-container-beige {
  width: 300px;
  height: 470px;
  }
}

.main-visual-title-container {
  width: 350px;
  position: absolute;
  top: 40%;
  left: 20%;
}

@media screen and (max-width: 768px) {
  .main-visual-title-container {
  width: 300px;
  height: 470px;
  }
}
@media screen and (max-width: 460px) {
  .main-visual-title-container {
  width: 300px;
  height: 470px;
  position: absolute;
  top: 40%;
  left: 0%;
  }
}

.main-visual-title {
  margin-bottom: 10px;
}
@media screen and (max-width: 460px) {
  .main-visual-title {
    height: 50px;
  }
}

.main-visual-title-sub {
  color: #3d563e;
  font-size: 40px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: lighter;
  letter-spacing: 6px;
  text-align: center;
}
@media screen and (max-width: 460px) {
  .main-visual-title-sub {
    font-size: 18px;
  }
}

.main-visual-title,
.main-visual-title-sub{
animation-name:fadeInAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.title-shadow {
  width: auto;
  height: 467px;
  position: absolute;
  right: 0;
  z-index: 0;
  opacity: 0.3;
}

/*=== スクロールダウン ====*/
/*スクロールダウン全体の場所*/
.scrolldown {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  .scrolldown {
  right: 50%;
  }
}
@media screen and (max-width: 460px) {
  .scrolldown {
  bottom: 10%;
  }
}


/*Scrollテキストの描写*/
.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 30px;
  /*テキストの形状*/
  color: #eee;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .scrolldown span {
  color: #3d563e;
  }
}

/* 丸の描写 */
.scrolldown::before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eee;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}
@media screen and (max-width: 768px) {
  .scrolldown::before {
  background: #3d563e;
  }
}


/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 65px;
  }
  100% {
    bottom: -5px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/* 線の描写 */
.scrolldown::after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 70px;
  background: #eee;
}
@media screen and (max-width: 768px) {
  .scrolldown::after {
  background: #3d563e;
  bottom: -3px;
  }
}
@media screen and (max-width: 460px) {
  .scrolldown::after {
  height: 100px;
  bottom: -30px;
  }
}

/*=== ハンバーガーメニュー ====*/
/*ボタン外側*/
.hamburger{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  background:#e6dfcb;
  width: 50px;
  height:50px;
  border: #3d563e solid 3px;
	border-radius: 15px;	
  position: relative;
  position: fixed;
  z-index: 999;
  right: 30px;
  top:15%;
	cursor: pointer;
  /* はじめは非表示 */
	opacity: 0;
	transform: translateX(100px);
  
}

/*ボタン内側*/
.hamburger span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
	background: #3d563e;
  width: 45%;
  }

.hamburger span:nth-of-type(1) {
	top:15px;	
}

.hamburger span:nth-of-type(2) {
	top:23px;
}

.hamburger span:nth-of-type(3) {
	top:31px;
}

/* ハンバーガーメニュー出現 */
/*　左の動き　*/
.hamburger.LeftMove{
	animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime{
  from {
  opacity: 0;
	transform: translateX(100px);
  }
  to {
  opacity: 1;
	transform: translateX(0);
  }
}

.hamburger.LeftMove.active{
  border-radius: 50%;
}

/*　右の動き　*/
.hamburger.RightMove{
	animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime{
  from {
  opacity: 1;
	transform: translateX(0);
  }
  to {
  opacity: 1;
	transform: translateX(100px);
  }
}

/* ハンバーガーメニューの３本線 */
/*activeクラスが付与されると線が回転して×に*/
.hamburger.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.hamburger.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.hamburger.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*========= ナビゲーションのためのCSS ===============*/
/*アクティブになったエリア*/
.hamburger-nav.panelactive{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 998;
	top: 0;
	width:100%;
  height: 100vh;
}

/*丸の拡大*/
.hamburger-nav-back{
  position: fixed;
	z-index:5;
  /*丸の形*/
  width: 15px;
  height: 15px;
  border-radius: 50% 0 0 0;
  background: #3d563e;
  opacity: 0.8;
  /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
  right:-50px;
  top:calc(50% - 50px);/*50%から円の半径を引いた値*/
  transition: all .6s;/*0.6秒かけてアニメーション*/
}

.hamburger-nav-back.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

.hamburger-nav.panelactive{
  display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
.hamburger-nav ul {
	opacity: 0;/*はじめは透過0*/
  /*ナビゲーション天地中央揃え※*/
  position: absolute;
  z-index: 999;
  top:50%;
  right: 1%;
  transform: translate(-25%, -40%);
}

.hamburger-nav li{
  /* border: 2px solid #e6dfcb; */
  /* border-radius: 50px; */
  padding: 10px 17px;
  margin: 10px 0;
}

/*背景が出現後にナビゲーションを表示*/
.hamburger-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※*/
.hamburger-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

/* ハンバーガーナビ内のタイトル、instagramアイコン */
.hamburger-nav .hamburger-nav-title {
  width: auto;
  height: 35px;
  display: block;
  margin: 10px auto 10px;
}

.hamburger-nav .hamburger-nav-title-sub {
  color: #e6dfcb;
  font-size: 20px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: lighter;
  letter-spacing: 6px;
  text-align: center;
}

.hamburger-nav .hamburger-nav-instagram_icon {
  width: auto;
  height: 30px;
  display: block;
  margin: 4% auto;
}


/* WORKS */
#works {
  padding: 0 16px;
}
@media screen and (max-width: 768px) {
  #works {
  margin-top: 100px;
  }
}

.works__inner {
  background-color: #e6dfcb;
  border-radius: 50px;
  max-width: 1200px;
  margin: 10% auto;
  position: relative;
  padding: 0 16px 50px;
}
@media screen and (max-width: 768px) {
  .works__inner {
  max-width: 300px;
  }
}

.works-title-container {
  margin: 0 auto;
  padding: 6%;
}


.works-title {
  width: auto;
  height: 60px;
  display: block;
  margin: 0 auto 10px;
}
@media screen and (max-width: 768px) {
  .works-title {
  height: 40px;
  margin-top: 30px;
  }
}

.works-title-sub {
  color: #3d563e;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .works-title-sub {
  font-size: 20px;
  }
}

.works-contents-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .works-contents-container {
  width: 300px;
  margin: 25px auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 70px
  }
}

@media screen and (max-width: 768px) {
  .works-contents {
  margin: 0 auto;
  }
}

.works-contents-category {
  background-color: #3d563e;
  color: #e6dfcb;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 50px;
  margin-bottom: 5%;
  margin-left: 8%;
  padding-top: 2px;
  padding-bottom: 3px;
  width: 100px;
  text-align: center;
}

.works-contents-title {
  color: #e6dfcb;
  font-size: 14px;
  margin-top: -15%;
  margin-left: 10%;
}

.works-btn-more {
  background-color: #3d563e;
  color: #e6dfcb;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  border-radius: 50px;
  padding-top: 20px;
  width: 200px;
  height: 40px;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .works-btn-more {
  font-size: 16px;
  width: 150px;
  height: 30px;
  padding-top: 10px;
  margin: 70px auto 0;
  }
}

.works-btn-more-container{
  width: 200px;
  margin-left: auto;

}


/* SKILL */
#skill {
  padding: 0 16px;
}
@media screen and (max-width: 768px) {
  #skill {
  margin-top: 100px;
  }
}

.skill__inner {
  max-width: 1200px;
  margin: 10% auto;
  display: flex;
  justify-content: space-between;
}
.skill-map {
  display: flex;
  gap: 50px;
  margin-left: 12.3%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .skill-map {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }
}

.skill-title {
  width: auto;
  height: 60px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .skill-title {
  height: 40px;
  display: block;
  margin: 0 auto;
  }
}

.skill-title-sub {
  color: #e6dfcb;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
}
@media screen and (max-width: 768px) {
  .skill-title-sub{
  font-size: 20px;
  text-align: center;
  }
}

/* SKILL共通箇所の設定 */
.skill-container {
  width: calc(50% - 25px);
}
@media screen and (max-width: 768px) {
  .skill-container {
  margin: 0 auto;
  width: 300px;
  }
}


.skill-contents-title {
  color: #e6dfcb;
  font-size: 50px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: -1%;
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .skill-contents-title {
  font-size: 35px;
  margin-left: 12%;
  }
}


.skill-box {
  background-color: #e6dfcb;
  border-radius: 50px;
  height: 70%;
  padding: 10%;
}

.skill-item-box {
  display: flex;
  column-gap: 15px;
}

.skill-item {
  background-color: #3d563e;
  color: #e6dfcb;
  font-size: 25px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
}
@media screen and (max-width: 768px) {
  .skill-item{
    font-size: 16px;
  width: 50px;
  height: 50px;
  line-height: 45px;
  }
}


.skill-text {
  color: #3d563e;
  font-size: 16px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  margin-top: 10%;
  line-height: 1.5;
}
@media screen and (max-width: 1000px) {
  .skill__inner {
    flex-direction: column;
    gap: 40px;
  }
  .skill-map {
    margin: 0 auto;
    gap: 20px;
  }
  }

/* ABOUT */
#about {
  padding: 0 16px;
}
@media screen and (max-width: 768px) {
  #about {
  margin-top: 100px;
  }
}

.about__inner {
  max-width: 1100px;
  height: 700px;
  margin: 10% auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .about__inner{
    max-width: 350px;
    height: auto;
    margin: 0 auto 90px;
    position: relative;
  }
}

.about-title-container {
  width: 273px;
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .about-title-container {
  position: static;
  text-align: center;
  margin: 0 auto 50px;
}
}

.about-title {
  width: auto;
  height: 60px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .about-title {
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .about-title {
  height: 40px;
}
}

.about-title-sub {
  color: #e6dfcb;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .about-title-sub {
  font-size: 20px;
  text-align: center;
}
}

/* ABOUT文字部分 */
.about-text-container {
  width: 75%;
  position: absolute;
  top: 42%;
  left: 15%;
  z-index: 3;
  display: flex;
  column-gap: 10%;
}
@media screen and (max-width: 768px) {
  .about-text-container{
    width: 250px;
    padding: 0 40px 0 0 ;
    display: flex;
    flex-direction: column;
    column-gap: 60px;
    position: absolute;
    top: 200px;
  }
}

/* 名前 */
.about-text-name-container {
  top: 10%;
  left: 10%;
}


.about-text-name {
  color: #3d563e;
  font-size: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .about-text-name{
    font-size: 30px;
  }
}


.about-text-name-sub {
  color: #3d563e;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Noto Sans JP", sans-serif;
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  .about-text-name-sub{
    font-size: 18px;
  }
}

/* 紹介文 */
.about-text {
  color: #3d563e;
  font-size: 16px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  line-height: 1.5;
  width: 500px;
  padding-top: 7px;
}
@media screen and (max-width: 768px) {
  .about-text{
    width: 100%;
    margin-top: 30px;
  }
}


/* ABOUT背景（ベージュ） */
.about-back-beige {
  max-width: 1100px;
  height: 700px;
  width: 92%;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

/* ===背景切り替え=== */
/* パソコンで見たときはpc版の背景画像が表示される */
.about-back-beige { display: block !important; }
.sp-about-back-beige { display: none !important; }

/* スマートフォンで見たときはsp版の背景画像が表示される */
@media only screen and (max-width: 768px) {
  .about-back-beige { display: none !important; }
  .sp-about-back-beige { display: block !important; }
}

@media screen and (max-width: 768px) {
  .sp-about-back-beige{
    min-width: 300px;
    height: auto;
    overflow: hidden;
  }
}


/* ABOUT背景（影） */
.about-back-shadow {
  max-width: 1100px;
  height: 700px;
  opacity: 0.3;
  position: absolute;
  top: 4%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .about-back-shadow{
    display: none;
  }
}

.about-btn-more {
  background-color: #3d563e;
  color: #e6dfcb;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  border-radius: 50px;
  padding-top: 20px;
  width: 200px;
  height: 40px;
  position: absolute;
  z-index: 4;
  bottom: -200%;
  right: 22%;
}

.about-btn-more.reverse:hover {
  background: #e6dfcb;
  color: #3d563e;
}

@media screen and (max-width: 1025px) {
  .about-btn-more{
  bottom: -150%;
  }
}


@media screen and (max-width: 768px) {
    .about-btn-more {
    font-size: 16px;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    position: absolute;
    bottom: -80px;
    right: 50px;
    }
}

/* .about-btn-more{
  --button-bg-color: #5c805d;
  --button-text-color: #e6dfcb;
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  overflow: hidden;
  color: var(--button-text-color);
  border: 1px solid var(--button-bg-color);
  @media (any-hover: hover) {
    transition: color 0.5s var(--ease-out-quart);
    &:hover {
      --button-text-color: #e6dfcb;
      .bg {
        scale: 1;
      }
} 
}
} */

/* CONTACT */
#contact {
  background-color: #e6dfcb;
  max-width: 1000px;
  border-radius: 500px 500px 0 0;
  margin: 100px auto;
  padding: 150px 10px 50px;
}
@media screen and (max-width: 768px) {
  #contact {
  margin: 0 auto 100px;
  }
}


.contact-title {
  width: auto;
  height: 60px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .contact-title {
  height: 40px;
}
}

.contact-text {
  color: #3d563e;
  font-size: 20px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  margin: 65px 0;
}
@media screen and (max-width: 768px) {
  .contact-text {
    font-size: 16px;
  }
}

.contact-btn-container {
  width: 100%;
  margin: 0 auto;
}

.contact-btn {
  background-color: #3d563e;
  color: #e6dfcb;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  border-radius: 50px;
  padding-top: 20px;
  width: 540px;
  height: 40px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .contact-btn {
    font-size: 16px;
    width: 300px;
  }
}


/* footer */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.footer-title-container {
  margin: 0 auto 5%;
}

.footer-title {
  width: auto;
  height: 70px;
  display: block;
  margin: 0 auto 10px;
}
@media screen and (max-width: 768px) {
  .footer-title {
  height: 40px;
}
}

.footer-title-sub {
  color: #e6dfcb;
  font-size: 35px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: lighter;
  letter-spacing: 6px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer-title-sub {
  font-size: 20px;
}
}

/* footer_navはheader_navと共用 */

.instagram_icon {
  width: auto;
  height: 30px;
  display: block;
  margin: 4% auto;
}

.copyright {
  color: #e6dfcb;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  margin: 3% auto;
}

/* ページトップリンク */
.to-top-container {
  position: absolute;
  bottom: 150px;
  right: 10px;
}

.to-top {
  background-color: #e6dfcb;
  width: 80px; /* 適当な箱を作るための幅 */
  height: 80px; /* 適当な箱を作るための高さ */
  border-radius: 50%;
  position: relative; /* 基準位置とする */
}
@media screen and (max-width: 768px) {
  .to-top {
  width: 60px;
  height: 60px;
}
}

.to-top::before,
.to-top::after {
  content: ""; /* 疑似要素に指定必須 */
  width: 20px; /* 線の長さを指定 */
  height: 4px; /* 線の幅を指定 */
  display: inline-block; /* インラインブロックにする */
  border-radius: 2px; /* 線を角丸にする */
  background: #3d563e; /* 線の色を指定 */
  position: absolute; /* 相対位置に指定 */
  right: 10px; /* 右から10pxの位置に配置 */
}

.to-top::before {
  top: 40px;
  left: 24px;
  transform: rotate(-45deg);
}
@media screen and (max-width: 768px) {
  .to-top::before{
  top: 27px;
  left: 14px;
}
}

.to-top::after {
  top: 40px;
  right: 24px;
  transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .to-top::after{
  top: 27px;
  right: 14px;
}
}



/* ==========
about.html
==========*/
.about-page #home_about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.about-page .about-container {
  background-color: #e6dfcb;
  background-image: url(../images/about_back_top.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 80% 371px;
  width: 100%;
}
@media screen and (max-width: 1590px) {
  .about-page .about-container {
    background-size: 100% 271px;
  }
}
@media screen and (max-width: 768px) {
  .about-page .about-container {
    background-image: url(../images/sp-about_back_top.png);
    width: 100%;
    background-size: 100% 200px;
    
  }
}
.about-inner{
  padding: 0 16px;
}

.about_page-title-container {
  max-width: 1000px;
  height: 72px;
  margin: 0 auto;
  padding-top: 300px;
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .about_page-title-container {
  width: 250px;
  padding-top: 250px;
  padding-bottom: 50px;
  }
}

.about_page-title {
  width: auto;
  height: 60px;
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .about_page-title {
  height: 40px;
  margin: 0 auto 10px;
  }
}

.about_page-title-sub {
  color: #3d563e;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
}
@media screen and (max-width: 768px) {
  .about_page-title-sub {
  height: 20px;
  text-align: center;
  }
}

.about-column {
  max-width: 800px;
  display: flex;
  column-gap: 120px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .about-column {
  display: flex;
  flex-direction: column;
  width: 250px;
  }
}

.about-photo {
  width: 250px;
  height: 250px;
}
@media screen and (max-width: 820px) {
  .about-photo {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto 30px;
  }
}


.about_page-text-name {
  color: #3d563e;
  font-size: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 820px) {
  .about_page-text-name {
  font-size: 30px;
  }
}

.about_page-text {
  color: #3d563e;
  font-size: 16px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  line-height: 1.5;
  width: 100%;
  margin: 37px 0;
}

.instagram_icon-green {
  width: auto;
  height: 30px;
}

.about-container-bottom {
  background-color: #e6dfcb;
  background-image: url(../images/about_back_bottom.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 400px;
}

/* ABOUT内likes */
.likes-wrapper--large {
  background-color: #3d563e;
  margin-top: -2px;
  padding: 0 16px;
}
.likes-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .likes-wrapper{
  display: flex;
  flex-direction: column;
}
}

.likes-title {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

/* ===PC版、SP版タイトル切り替え=== */
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.likes-title { display: block !important; }
.sp-likes-title { display: none !important; }

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 768px) {
  .likes-title { display: none !important; }
  .sp-likes-title { display: block !important; }
}

.likes-title-sub {
  color: #e6dfcb;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  writing-mode: sideways-lr;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .sp-likes-title{
  height: 40px;
  margin: 0 auto 10px;
}
  .likes-title-sub {
    font-size: 20px;
    writing-mode: horizontal-tb;
    text-align: center;
    padding: 0;
  }
}

/* ==========
LIKES内
==========*/
.likes__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 25px;
}
.likes__item {
  background-color: #e6dfcb;
  border-radius: 50px;
  padding: 8% 5%;
}
.likes__item:first-child {
  grid-area: 1 / 1 / 2 / 2;
}
.likes__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.likes__item:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
}
.likes__item:last-child {
  grid-area: 1 / 3 / 3 / 4;
}
.likes__item .heading__h3 {
  color: #3d563e;
  font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}
.likes__item p {
  line-height: 1.75;
  color: #3d563e;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .likes__list {
  display: block;
  margin-top: 10px;
  margin-bottom: 100px;
  }
  .likes__item{
    max-width: 300px;
    margin: 20px auto;
  }
}

.likes-icon-1,
.likes-icon-2{
  position: absolute;
  height: 100px;
  width: auto;
}

.likes-icon-1{
  bottom: 22%;
  right: 5%;
}

.likes-icon-2{
  bottom: 5%;
  right: 0%;
}
@media screen and (max-width: 768px) {
  .likes-icon-1,
  .likes-icon-2{
  opacity: 0;
}
}

.likes-icon-1{
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  background: url(../images/likes-icon-1.png) no-repeat center center / 60px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}

.likes-icon-2{
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  background: url(../images/likes-icon-2.png) no-repeat center center / 60px auto;
  display: inline-block;
  transition: 3.0s ease-in-out;
  width: 80px;
  height: 80px;
  margin-top: 15px;
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}



/* 以下、works.html */
button {
  border: none;
}
.works_page-title-container {
  max-width: 1000px;
  margin: 100px auto 0;
  padding: 16px;
}

.works_page-title {
  width: auto;
  height: 60px;
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .works_page-title {
  height: 40px;
  margin: 0 auto 20px;
  }
}

.works_page-title-sub {
  color: #e6dfcb;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
}
@media screen and (max-width: 738px) {
  .works_page-title-sub {
  font-size: 20px;
  text-align: center;
  }
}

.works-container {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 738px){
  .works-container{
  max-width: 390px;
  }
}
  

.category-wrapper {
  background-color: #e6dfcb;
  border-radius: 50px;
  padding: 80px 30px;
  box-sizing: border-box;
  margin: 0 auto;
}
.works-category-container {
  margin: 95px auto 100px;
  display: flex;
  column-gap: 40px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 738px) {
  .works-category-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  row-gap: 20px;
  }
}

.works-category {
  max-width: 210px;
  width: 100%;
  background-color: #e6dfcb;
  color: #3d563e;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  border-radius: 50px;
  padding-top: 2px;
  padding-bottom: 3px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  transition: 0.5s;
  line-height: 36px;
}
@media screen and (max-width: 738px) {
  .works-category {
  margin: 0 auto;
  row-gap: 10px;
  }
  .category-wrapper{
  padding: 10px 0 50px;
  margin-bottom: 100px;
  }
}

.works-category:hover {
  opacity: 0.8;
  border: 2px solid #e6dfcb;
  background-color: transparent;
  color: #e6dfcb;
}

.works-container .items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 10px;
  box-sizing: border-box;
}
@media screen and (max-width:738px) {
  .works-container .items{
  row-gap: 35px;
}
}

.works-container .item {
  width: 32%;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s, transform 0.5s;
}
@media screen and(max-width:738px) {
  .works-container .item{
  width: 100%;
}
}

.works-container .item.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 738px) {
  .works-container .item.show{
  width: auto;
  height: auto;
}
}


@media screen and (max-width: 738px) {
  .works-contents-item {
  width: 250px;
  margin: 10px auto 0;
  }
}

.works_page-contents-title {
  color: #e6dfcb;
  font-size: 14px;
  margin-top: -15%;
  margin-left: 10%;
}


/* 以下、WORKS作品ページ */
/* パンくずリスト */
.breadcrumb-container {
  max-width: 1000px;
  margin: 95px auto;
  padding-left: 16px;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline; /*横に並ぶように*/
  list-style: none;
  font-family: "Yu Gothic";
  font-size: 16px;
}

.breadcrumb li:after {
  /* >を表示*/
  content: ">";
  padding: 0 0.2em;
  color: #e6dfcb;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li a {
  text-decoration: none;
  color: #e6dfcb;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/*works説明部分　全体 */
.works-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 0 16px;
}
@media screen and (max-width:768px) {
  .works-wrapper{
    max-width: 390px;
    display: flex;
    flex-direction: column;
  }
  
}

/* works説明部分　テキスト */
.works-text-wrapper {
  width: 280px;
  margin-right: 50px;
}
@media screen and (max-width:768px) {
  .works-text-wrapper{
  width: 100%;
  margin: 0 auto;
  }
}

.works-category-title {
  max-width: 210px;
  width: 100%;
  background-color: #e6dfcb;
  color: #3d563e;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  border-radius: 50px;
  padding-top: 2px;
  padding-bottom: 3px;
  text-align: center;
  height: 36px;
  line-height: 36px;
}

@media screen and (max-width:768px) {
.works-category-title {
  font-size: 16px;
  width: 150px;
}
}

.works-name {
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 25px;
  line-height: 1.5;
  margin: 35px 0;
}
@media screen and (max-width:768px) {
.works-name {
  font-size: 20px;
}
}

.works-text {
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 16px;
  line-height: 1.5;
}

/* 使用ツール、制作期間などの情報 */
.works-info-container {
  border-top: #e6dfcb solid 1px;
  border-bottom: #e6dfcb solid 1px;
  margin: 35px 0;
}

.works-info-item {
  display: flex;
  margin: 40px 0;
}

.works-info-title {
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 14px;
  line-height: 1.5;
  width: 100px;
}

.works-info-text {
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 14px;
  line-height: 1.5;
  width: calc(100% - 100px);
}

/* PREV 一覧にもどる NEXTボタン */
.works-btn-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:768px) {
  .works-btn-wrapper{
  display: flex;
  justify-content: space-around;
  }
}

/* prev,next文字(共通) */
.prev-btn-container,
.next-btn-container {
  display: flex;
}

.prev-btn,
.next-btn {
  color: #e6dfcb;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
}

.prev-btn:hover,
.next-btn:hover {
  text-decoration: underline;
}

/* prev矢印 */
.prev-btn {
  position: relative;
  display: inline-block;
  color: #e6dfcb;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 10px;
}
.prev-btn::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #e6dfcb;
  border-left: solid 2px #e6dfcb;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/* next矢印 */
.next-btn {
  position: relative;
  display: inline-block;
  padding-top: 10px;
}
.next-btn::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #e6dfcb;
  border-right: solid 2px #e6dfcb;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 一覧にもどるボタン */
.back-btn {
  background-color: #e6dfcb;
  color: #3d563e;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  border-radius: 50px;
  padding-top: 10px;
  width: 120px;
  height: 25px;
}

/* works説明部分　画像 */
.works-img-container {
  background-color: #e6dfcb;
  border-radius: 50px;
  width: calc(100% - 280px);
  overflow-y: hidden;
  padding: 0 16px;
  overflow-x: hidden;
}
@media screen and (max-width:768px) {
  .works-img-container{
  width: 350px;
  margin: 100px auto;
  }
}

/* =============
バナー１種の時の画像表示設定
================= */
.works-img-banner{
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* PC、SP切り替えボタン */
/* ➀切り替えボタン */
.buttons {
  margin: 40px 30px;
  width: 210px;
}

/* ➁ボタン単体 */
.button {
  width: 100px; /* 横幅 */
  height: 30px; /* 縦幅 */
  border-radius: 50px;
}

/* Aボタン */
#PC_btn {
  border: 2px solid #3d563e;
  color: #e6dfcb; /* 文字色 */
  background-color: #3d563e; /* 背景色 */
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

/* Aボタン active */
#PC_btn.active {
  color: #3d563e; /* 文字色*/
  background-color: #e6dfcb; /* 文字色*/
}

/* Bボタン */
#SP_btn {
  border: 2px solid #3d563e;
  color: #3d563e; /* 文字色*/
  background-color: #e6dfcb; /* 文字色*/
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

/* Bボタン active */
#SP_btn.active {
  color: #e6dfcb; /* 文字色*/
  background-color: #3d563e; /* 背景色*/
}

/* ➂切り替え画面 */
.screen {
  width: 100%; /* 横幅 100% */
  height: 600px;
  position: relative; /* 親要素 */
  margin: 0 auto;
}

/* ➃A画面 */
.PC_screen {
  position: absolute; /* 子要素 */
  opacity: 1; /* 要素の透明度 */
  pointer-events: auto; /* マウスイベントをオン */
  max-width: 600px;
  width: 100%;
  height: 550px;
  overflow-y: auto;
  scrollbar-color: #3d563e #e6dfcb;
  padding: 10px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

/* ➃A画面 active */
.PC_screen.active {
  opacity: 0; /* 要素の透明度 */
  pointer-events: none; /* マウスイベントをキャンセル */
}

/* ➄B画面 */
.SP_screen {
  opacity: 0; /* 要素の透明度 */
  pointer-events: none; /* マウスイベントをキャンセル */
  overflow-y: auto;
  scrollbar-color: #3d563e #e6dfcb;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* ➄B画面 active */
.SP_screen.active {
  position: absolute; /* 子要素 */
  opacity: 1; /* 要素の透明度 */
  pointer-events: auto; /* マウスイベントをオン */
  max-width: 390px;
  height: 550px;
}

/* CONTACT*/
form {
  width: calc(100% - 350px);
}
.contact_page-title-container {
  max-width: 1000px;
  margin: 100px auto 0;
  padding-left: 16px;
}

.contact_page-title {
  width: auto;
  height: 60px;
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width:768px) {
  .contact_page-title{
  height: 40px;
  margin: 0 auto 20px;
}
}

.contact_page-title-sub {
  color: #e6dfcb;
  font-size: 30px;
  font-family: fot-tsukuardgothic-std, sans-serif;
}
@media screen and (max-width:768px) {
  .contact_page-title-sub{
  font-size: 20px;
  text-align: center;
  }
}

.contact-wrapper {
  max-width: 1000px;
  margin: 85px auto 100px;
  display: flex;
  padding: 0 16px;
}

/* contactテキスト部分 */
.contact-text-wrapper {
  width: 350px;
  margin-right: 50px;
}

.contact_page-text {
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width:768px) {
  .contact_page-text{
  margin-bottom: 50px;
  }
}

/* 問い合わせフォーム部分 */
.contact-form-container {
  background-color: #e6dfcb;
  border-radius: 50px;
  /* width: 600px; */
}

.contact-form-inner {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}

/* 入力フォーム設定 */
input[type="text"],
input[type="email"] {
  background-color: #cccac2;
  color: #3d563e;
  font-family: "Yu Gothic";
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  margin: 10px 0 50px;
  padding: 0 20px;
  box-sizing: border-box;
}

textarea {
  background-color: #cccac2;
  color: #3d563e;
  font-family: "Yu Gothic";
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 170px;
  border-radius: 30px;
  border: none;
  margin: 10px 0 50px;
  padding: 15px 20px;
  box-sizing: border-box;
}

label {
  color: #3d563e;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-weight: bold;
}

.required,
.optional {
  width: 100%;
}

/* 必須 */
.required::after {
  content: "必須";
  background: #3d563e;
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-weight: bold;
  width: 90px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

/* 任意 */
.optional::after {
  content: "任意";
  background: #e6dfcb;
  color: #3d563e;
  border: 2px solid #3d563e;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-weight: bold;
  width: 90px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

/* プライバシーポリシーコメント */
.privacy-policy {
  color: #3d563e;
  font-family: "Yu Gothic";
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
}

/* 送信ボタン */
.send-btn {
  text-align: center;
}

input[type="submit"] {
  background-color: #3d563e;
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-weight: bold;
  border-radius: 200px;
  border: none;
  width: 200px;
  height: 40px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  input[type="submit"]{
    font-size: 16px;
    width: 150px;
    text-align: center;
  }
}


@media screen and (max-width: 850px) {
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-text-wrapper,
  form {
    width: 90%;
    margin: 0 auto;
  }
}

/* Thanksページ */
@media screen and (max-width: 768px) {
.contact-page__inner{
  max-width: 100%;
}
}

.thanks-container {
  background-color: #e6dfcb;
  border-radius: 500px;
  max-width: 1000px;
  margin: 100px auto;
}
@media screen and (max-width: 768px) {
  .thanks-container{
  max-width: 350px;
  margin: 50px auto 100px;
}
}

.thanks-wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .thanks-wrapper{
  max-width: 250px;
}
}

.thanks-title {
  color: #3d563e;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .thanks-title {
    font-size: 50px;
  }
}

.thanks-text-wrapper {
  margin: 80px;
}
@media screen and (max-width: 768px) {
  .thanks-text-wrapper{
  margin: 30px auto 0;
}
}

.thanks-text {
  color: #3d563e;
  font-family: "Yu Gothic";
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.to-home-btn {
  background-color: #3d563e;
  color: #e6dfcb;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 200px;
  border: none;
  width: 250px;
  margin: 0 auto;
  padding: 15px 5px;
}
@media screen and (max-width: 768px) {
  .to-home-btn{
  font-size: 16px;
  width: 150px;
  }
}