@charset "utf-8";

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-left: 2.8%;
  padding-right: 7.7%;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.header_nav ul {
display: flex;
gap: 77px;
}

.logo {
  width: 227px;
}

.header_nav a {
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  font-size: 18px;
    }

.main-visual{
  max-width: 100%;
    }

main{
  background-color: #e8d9bf;
  padding: 0 10px;
    }

.hero{
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
}

.hero-en{
  font-size: 30px;
  line-height: 3.9;
  text-align: center;
  padding-top: 3%;
}

.hero-ja{
  font-size: 81px;
  line-height: 1.17;
  text-align: center;
  padding: 1.5%;
}

.hero-text{
  font-size: 23px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 4.8%;
}

#about-us{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 3%;
  display: flex;
  align-items: center;
}

img.title-image{
  width: auto;
  height: 78px;
}

.about-us-inner{
  width: 50%;
  padding-left: 8%;
  box-sizing: border-box;
}

.about-us-title{
  width: 54.4%;
  height: auto;
  margin-bottom: 10%;
}

.about-us-comment1{
  font-size: 44px;
  line-height: 1.39;
}

.about-us-comment2{
  font-size: 16px;
  line-height: 1.63;
  margin-top: 4.6%;
  margin-bottom: 9.6%;
}

.menu-title{
  width: 15.1%;
  height: auto;
  margin: 0 auto;
}

#menu{
  max-width: 1000px;
  margin: 2.93% auto ;
}

.menu-container{
  display: flex;
  justify-content: space-between;
  column-gap: 2.6%;
  margin-top: 1.48%;
}

img.menu-image{
  width: 100%;
  height: auto;
}

.menu-list{
  color: #d30202;
  font-size: 38px;
  margin-top: -5%;
  margin-bottom: 2%;
  margin-left: 1%;
}

.menu-comment{
  font-size: 17px;
  line-height: 1.47;
}

#gallery{
  max-width: 100%;
  margin: 0 auto;
}

.gallery-title{
  width: 12.8%;
  height: auto;
  margin: 1.3% auto;
}

.gallery-image-container{
  display: flex;
  justify-content: center;
}

img.gallery-image{
max-width: 20%;
height: auto;
}

#event{
  max-width: 1000px;
  margin: 2.93% auto ;
}

.event-title{
  width: 17.4%;
  height: auto;
  margin: 1.3% auto;
}

.event-container{
  border: 2px solid #4f260b;
  background-color: #fff;
  padding: 2% 10%;
}

ul.event-list{
  align-items: center;
  margin: 0 auto;
}

li.event-list{
  display: flex;
}

.event-date,.event-contents{
font-size: 23px;
margin: 5px 30px;
}

#access{
  max-width: 100%;
  margin: 0 auto;
}

.access-title{
  width: 11%;
  height: auto;
  margin: 2.24% auto 1.22%;
}

iframe{
  width: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
}

footer{
  margin-top: 2.73%;
}

.footer-logo{
  width: 89%;
  height: auto;
}

.footer-contents{
max-width: 1000px;
margin: 0 auto;
display: flex;
justify-content: flex-start;
}

.fotter-list-container{
  width: 100%;
  padding-right: 18.5%;
  padding-left: 3.39%;
}

.fotter-list{
  color: black;
  font-size: 20px;
  margin: 2% 0;
}

.copyright{
  text-align: center;
  margin: 2.44% auto;
}

small{
  color: black;
  font-size: 16px;
}

.to-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.to-top-image{
  width: 125px;
}